.odkaz {
display: inline-block;
  padding: 12px 24px;
  margin: 8px;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(212, 165, 179);
  border: 5px solid rgb(199, 126, 148);
}

.odkaz-zpět {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}